<a target="_top" href="https://www.facebook.com/dialog/oauth?client_id=<?php
echo $appId
?>&redirect_uri=http://apps.facebook.com/areaface/posts/add&scope=offline_access,publish_stream">register</a>

<pre><?php var_dump($user) ?></pre>
<pre><?php var_dump($token) ?></pre>